#music-player {
  // border: 1px solid rgb(151, 47, 255);
  background-image: linear-gradient(
    rgb(222, 3, 226),
    rgb(250, 159, 2)
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  margin-top: 2rem;
  margin-left: 30rem;
  border-radius: 4rem;
  height: 10%;
  min-height: 80px;
  width: fit-content;
  min-width: 330px;
  z-index: 70;
  -webkit-box-shadow: 0 0 7px 2px rgb(102, 4, 231);
  -moz-box-shadow: 0 0 7px 2px rgb(102, 4, 231);
  box-shadow: 0 0 7px 2px rgb(102, 4, 231);
}
#player{
  display: flex;
  align-items: center;
}
#player > audio {
  position: relative;
}
#player > audio::-webkit-media-controls-panel{
  background-color:  rgb(98, 249, 87);
}

input[type="range"]::-webkit-slider-thumb{
  transform: scale(1.4);
  transition: all .4s ease-in-out;
  color:greenyellow;
  background:rgb(16, 250, 24);
}
input[type="range"]::-webkit-slider-thumb:hover{
  transform: scale(2);
}

input[type="range"]::-webkit-slider-runnable-track {
  --webkit-apperance: none;
  border-radius: 1rem;
  transform: scale(1.4);
  background-image: linear-gradient(to right,
    rgb(140, 0, 205),
    rgb(83, 254, 94)
  );
  z-index: 120;
}

#input-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  width:100%;
  padding-top: 30%;
}


#bpm-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  margin-top: 10%;
  margin-left: 4%;
  width: 15rem;
  min-width: 10rem;
  height: 25rem;
  min-height: 15rem;
}
#bpm {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-image: radial-gradient(rgb(142, 0, 114), rgb(255, 0, 60));
  -webkit-box-shadow: 0 0 10px 2px rgb(100, 255, 141);
  -moz-box-shadow: 0 0 10px 2px rgb(100, 255, 141);
  box-shadow: 0 0 10px 2px rgb(100, 255, 141);
  animation-name: bop;
  animation-duration:.5s;
  animation-iteration-count: infinite;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  opacity: 1;

}

#bpm > span {
  font-size: 3rem;
  color: rgb(72, 231, 4);
}
#bpm-bar-text {
  width: 10rem;
  height: 3rem;
  color: rgb(72, 231, 4);
  font-size: 2.1rem;
  display: inline-block;
  font-weight: 800;
}

@keyframes bop {
  from {
    transform: scale(0.95);
    background-image: radial-gradient(rgb(188, 3, 135), rgb(255, 0, 60));
  }
  to {
    transform: scale(1.05);
    background-image: radial-gradient(rgb(255, 0, 60), rgb(203, 3, 163));
  }
}

#scroller-wrapper{
  margin-top: 4%;
  width: 330px;
  height:50px;
  overflow: hidden;
}

#scroller{
 height:inherit;
 width: 300px;
 margin-left: 310px;
animation-name: scroll;
animation-duration: 15s;
animation-iteration-count: infinite;
}


#song-title{
  color: rgb(34, 249, 6);
  font-family: 'Blinker';
  font-size: 1.2rem;
}

@keyframes scroll{
  from{
   margin-left: 340px;
  }
  to{
    margin-left:-310px;
  }
}
