#nav-bar {
  margin-top: 0;
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  // border: 1px solid rgb(115, 243, 9);
}
#nav-left {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  // border: 1px solid blue;

}

#nav-right {
  // border: 1px solid rgb(255, 55, 0);
  margin-right: 2rem;
    display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
padding-right: 3rem;
  color: rgb(108, 244, 99);
  font-size: 3rem;

}
.icon:hover{
  transform:scale(1.2);
}

.icon{
  filter:drop-shadow( 0 0 7px 2px rgb(200, 250, 174));

}
