#nav-bar {
  margin-top: 0;
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-between;

}
a{
  transition: all .8s ease-in-out;
}
#nav-left {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-end;
  padding-left: 3%;

}

#nav-right {
  margin-right: 2rem;
    display: flex;
  flex-direction: column;
  justify-content: center;
}


#nav-left .icon {
    padding-right: 3rem;
  color:rgb(98, 249, 87);
  font-size: 3rem;
    filter:drop-shadow( 0 0 7px 2px rgb(200, 250, 174));
    transition: all .3s ease-in-out;

}
.icon:hover{
  transform:scale(1.2);
}
