
@import "./css/modals.scss";
@import "./css/bubbles.scss";
@import "./css/audio.scss";
@import "./css/nav-bar.scss";
body {
  font-family: "Bungee Outline";
  font-weight: 600;
    background-color: rgb(10, 0, 29);

}

.hidden {
  z-index: -100;
  opacity: 100;
  animation-name: pop-away;
  animation-duration: 1.3s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes pop-away {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(0);
  }
}
.hidden > div > #button {
  font-size: 0;
  padding: 0;
  transform: scale(0.1);
  visibility: hidden;
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#main-content {
  box-sizing: border-box;
  padding: 5rem;
  height: 100vh;
  width: 65vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

#tree {
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: unset;
}

.hidden-space {
  width: 10%;
  animation-name: show-less;
}

#instructions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


#instructions > p {
  font-size: 1.6rem;
  color: rgb(65, 1, 156);
}

#dancer{
 position: fixed;
 z-index: -40;
 margin-left: 7%;
 opacity: .7;
}



