//google how import
// @import './src/styles/style.css'
@import './css/nav-bar.scss';
@import "./css/bubbles.scss";
@import "./css/audio.scss";
@import "./css/modals.scss";

body {

  font-family: 'Bungee Outline';
  font-weight: 600;
}
#background{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgb(10, 0, 29);
  z-index:-80;
}

.hidden {
  z-index: -100;
  opacity: 100;
  animation-name: pop-away;
  animation-duration: 1.4s;
  visibility: hidden;
}

@keyframes pop-away {
  from{
      transform: scale(1);
  }
  50%{
 transform: scale(1.1);
  }
  to {
 transform: scale(0);
  }
}
.hidden > div > #button{
  font-size: 0;
  padding: 0;
 transform: translateY(200px);
  visibility: hidden;
}

#wrapper {
  display: flex;
  flex-direction: row;
}

#main-content {
  box-sizing: border-box;
  padding: 5rem;
  height: 100vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  // border: 3px solid salmon;
}

#tree {
  
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:unset;
}

.hidden-space{
  width: 1rem;
  animation-name: show-less;
}

#instructions {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  // border: 4px solid yellow;
}


#instructions > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#instructions > p {
  transform: translatex(2rem);
  // border: 4px solid red;
  font-size: 1.6rem;
 
}